@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'lato-light';
	src: url('fonts/Lato-Hairline.ttf') format('truetype');
}

body {
	font-family: 'lato-light';
  	background: rgb(0, 23, 46);
  	color: #fff;
  	font-size: 14px;
}
/*login*/
#login div.icebreaker {
	font-size: 3em;
	text-align: center;
	margin-top: 15%;
	margin-bottom: 5%;
}
span#signinButton {
	text-align: center;
}
div.center {
	text-align: center;
}
/*landing*/
div#landing {
	display: none;
}
#landing div.icebreaker {
	font-size: 2em;
	text-align: center;
	margin-bottom: 5%;
}
#login {
	display: none;
}
#landing div#greet {
  /*display: none;*/
  margin: 5% 0;
  font-size: 1.5em;
}
div#pic img {
  border-radius: 100px;
  max-width: 100px;
  border: 2px solid #fff;
}
div.row.info {
  margin: 20px 0;
}
div.infoBox {
  border: 1px solid #fff;
  height: 180px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}